{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "no-unused-vars": 0,
    "no-param-reassign": 0,
    "func-names": 0,
    "no-plusplus": 0,
    "guard-for-in": 0,
    "class-methods-use-this": 0,
    "no-multi-str": 0,
    "no-await-in-loop": 0,
    "no-async-promise-executor": 0,
    "no-else-return": 0,
    "array-callback-return": 0,
    "no-undef":"off",
    "no-unused-expressions":2,
    "no-var":"off",
    "consistent-return":"off",
    "no-redeclare":"off",
    "no-array-constructor":"off",
    "no-new-object":"off",
    "no-multi-assign":"off",
    "eqeqeq":"off",
    "no-useless-concat":"off",
    "no-void":"off",
    "vars-on-top":"off"
  }
}
